@font-face {
    font-family: 'FonteGta';
    src: url('font/diploma.ttf') format('opentype');
}
@font-face {
    font-family: 'Ginerin';
    src: url('font/Ginerin-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'FonteGta2';
    src: url('font/pricedown\ bl.otf') format('opentype');
}
@font-face {
    font-family: 'RifficFree';
    src: url('font/RifficFree-Bold.ttf') format('opentype');
}

.f2{
    font-family: 'FonteGta', sans-serif;
    color: black;
    text-shadow: 1px 2px 1px rgb(255, 255, 255),
                 -1px -1px 1px rgb(255, 255, 255);
}
.f1{
    font-family: 'FonteGta2', sans-serif;
    color: white;
    text-shadow: 3px 3px 1px rgb(0, 0, 0),
                 -1px -1px 1px rgb(0, 0, 0);
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Ginerin;

}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
header nav{
    display: flex;
    gap: 5px;
}
.btn{
    border: 1px solid;
    border-radius: 3px;
    padding: 3px;
    font-size: small;
    background-color: rgb(20, 20, 20);
    color: #fff;
    text-decoration: none;
}
.btn:hover{
    background-color: #fff;
    color: black;
}
.logo:hover{
    cursor: pointer;
}

.background {
    position: relative;
}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    background: linear-gradient(
                    rgba(0, 0, 0, 1),
                    rgba(0, 0, 0, 0.6)),
                    url(images/background.png);
    background-position: center;
    background-size: cover;
    z-index: -1;
}



h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
}
main header{
    background-color: transparent;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid;
    padding: 10px;
    font-size: x-large;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5%;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
}
.containerCharacter{
    flex: 1;
    display: flex;
    padding: 100px 0px;
    background-color: rgb(20, 20, 20);
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.characterDiv{
    width: 25%;
    height: 300px;
    display: flex;
    border: 1px solid rgb(49, 49, 49);
    background-color: rgba(141, 138, 138, 0.299);
    margin: 5px;
    border-radius: 10px;
    overflow: hidden;
}
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: rgb(252, 250, 250);
    overflow: hidden;
    background-position: center;
    background-size: cover;
}
.characterDiv img{
    height: 100%;
    transition: opacity 0.5s ease-in-out;
}

.hidden {
    opacity: 0;
}

.text-title{
    font-weight: bold;
}
.infoDiv{
    color: aliceblue;
    text-align: center;
    width: 50%;
    padding: 15px;
}
.infoDiv span{
    font-size: small;
    color: dimgrey;
}
.infoDiv p{
    font-family: RifficFree;
    text-align: start;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 100%;
    background-color: rgb(1, 1, 1);
    color: white;
    color: rgba(240, 248, 255, 0.525);
    font-size: small;
}
.cp{
    font-size: xx-small;
}
footer nav{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}
footer p a{
    color: rgb(180, 1, 1);
    text-decoration-color: rgba(240, 248, 255, 0.525);
}
footer p a:hover{
    color: rgb(255, 0, 0);
    text-decoration: none;    
}
footer nav a{
    color: rgba(240, 248, 255, 0.525);
}

@media(max-width: 574px) {
    .image-container img{
        height: 100%;
        width: 100%;
    }
    .characterDiv{
        width: 100%;        
    }
    main{
        font-size: smaller;
    }
    main header{
        font-size: medium;
    }
    footer{
        font-size: xx-small;
    }
    .cp{
        font-size: 50%;
    }
    .logo{
        height: 50px;
        width: auto;
    }
    .btn{
        font-size: x-small;
    }
}