@font-face {
    font-family: 'FonteGta';
    src: url('font/diploma.ttf') format('opentype');
}
@font-face {
    font-family: 'FonteGta2';
    src: url('font/pricedown\ bl.otf') format('opentype');
}

.f2{
    font-family: 'FonteGta', sans-serif;
}
.f1{
    font-family: 'FonteGta2', sans-serif;
    display: flex;
}

.background {
    position: relative;
}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
    opacity: 0.1;
    z-index: -1;
}

h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body, html{
    margin: 0;

}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: transparent;
}
.logo:hover{
    cursor: pointer;

}
main{
    display: flex;
    flex-direction: column;
}
main header{
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
    padding: 10px;
}
.text-shadow{
    text-shadow: -1px -1px 0 #fff,  
                  1px -1px 0 #fff,
                 -1px  1px 0 #fff,
                  1px  1px 0 #fff;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5%;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
}
.containerCharacter{
    padding: 20px;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.characterDiv{
    width: 250px;
    display: flex;
    border: 1px solid rgb(49, 49, 49);
    background-color: rgba(141, 138, 138, 0.299);
    margin: 5px;
    border-radius: 5px;
    padding: 15px;
}
.characterDiv img{
    max-height: 250px;
    padding: 10px;
}
.infoDiv{
    color: aliceblue;
    text-align: center;
    padding: 5px;
}
.infoDiv strong{
    color: black;
    font-size: large;
    font-family: FonteGta2;
}
.infoDiv p{
    text-align: start;
}
footer{
    height: 200px;
    background-color: rgb(1, 1, 1);
    color: white;
    position: static;
    bottom: 0;
}